<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Cobranças</title>
    <link rel="stylesheet" href="/css/home.css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid text-center">
    <h1 class="title">Sistema de Cobranças</h1>
    <h4 class="subTitle">Olá, este é um sistema de cobranças realizado por alunos do curso <br>de análise e desenvolvimento de sistemas</h4>
</div>

<div class="container">
    <div class="row justify-content-around">

        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="/Divida.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Dívida</h5>
                    <p class="card-text">Aqui você pode cadastrar uma dívida, <br>consultar, alterar e excluir.</p>
                    <a th:href="@{/dividas/listDivida}" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="/Banco.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Pagamentos</h5>
                    <p class="card-text">Aqui você pode cadastrar um pagamento, <br>consultar, alterar e excluir.</p>
                    <a th:href="@{/pagamentos/listPagamento}" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="/Cliente.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Cliente</h5>
                    <p class="card-text">Aqui você pode cadastrar um cliente, <br>consultar, alterar e excluir.</p>
                    <a th:href="@{/clientes/listCliente}" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>